fastapi
uvicorn
python-jose[cryptography]
passlib
sqlalchemy
psycopg2-binary
python-multipart
requests
google-auth
uvicorn[standard]
qqwry-py3
boto3
# czdb-searcher
asyncpg       # async Postgres driver for Neon
aiosqlite      # async SQLite driver for local development
botocore
python-dotenv
